.container-fluid {
  padding: 30px;
  width: 40% !important;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(218, 220, 224, 0.3);
}

.letter {
  padding-left: 30px;
  padding-right: 30px;
}

.letter2 {
  padding-left: 50px;
  padding-right: 30px;
}

button {
  font-weight: 600;
  color: #56575e;
}
